
<div class="search-area">
    <div class="input">
        <input class="search" type="text" id="search-box" placeholder="Search A Book" onkeyup="searchBooks()" autocomplete="off">
        <img src="static/icons/search.svg">
    </div>
    <div class="result-box">
    </div>
</div>

<main id="main-content">
    {% for book in books %}
    <div class="container" >
        <div class="inner-containers" id="{{book['ID']}}" onclick="showReader('{{book['ID']}}')">
            <div class="image-container">
                <img draggable="false" class="book-image" src="{{ url_for('static', filename='thumbnails/' + book['Image']) }}">
            </div>
            <div class="book-details">
                <p class="name">{{ book['Name'] }}</p>
                <p class="author">{{ book['Author'] }}</p>
                <p class="details">{{ book['Date'] }} &#183; {{ book['Genre'] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <p class="section-title">This Month in Horror</p>


</main>
<script >
    
   // Define the available books array
   let available = {{ books_name | tojson }};

   // Select elements
   const inputbox = document.querySelector("#search-box");
   const resultbox = document.querySelector(".result-box");

   // Function to search books
   const searchBooks = () => {
      
       let input = inputbox.value.trim().toLowerCase(); // Trim and convert input to lowercase

       if(input.length){
       let result = available.filter(book => book.toLowerCase().includes(input)); // Filter books based on input

       console.log(result);
       updateResultBox(result); // Update the result box with filtered books
       }else{
        updateResultBox([]);
       }
   }

   // Function to update the result box
   function updateResultBox(searchResults) {
       resultbox.innerHTML = ''; // Clear previous results
       searchResults.forEach(item => {
           const resultItem = document.createElement('div');
           resultItem.classList.add('result-item');
           resultItem.textContent = item;
           resultbox.appendChild(resultItem); // Append each result item to the result box
       });
   }

</script>


